/* 전체(아스트로) 선택자 */
* {
    margin: 0;
    padding: 0;
}

/* 태그 선택자 */
h2 {
    color: blue;
}
h3 {
    color: green;
}

/* class 선택자 */
.article-title {
    font-size: 20px;
    font-weight: bold;
}

/* id 선택자 */
#header {
    background-color: darkgray;
}
#header .link {
    padding: 12px 8px;
}
#header a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

/* 자손(바로 밑) */
#header > h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 12px 2px 12px 20px;
    /* 위 오른쪽 아래 왼쪽 */
}

/* 후손(밑 전체) */
#container .container-btn:hover {
    background-color: #ffffff;
    font-size: 24px;
}
#container .container-item:first-child {
    color: red;
}

/* 가상요소 */
#container .container-item::before {
    content: "* ";
}
#container .container-item::after {
    content: "!!!";
}

/* attribute 선택자 */
[type="text"] {
    border: 1px solid gray;
}

[href*="example"] {
    color: red;
}

